<div class="filtro-container">
    <div class="filtro__grupo">
        <button class="filtro__boton" id="crud-categoria">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Categoria</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="crud-tipo">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Tipo</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="crud-prioridad">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Prioridad</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="crud-preguntafrecuente">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Preguntas Frecuentes</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="crud-coordinacion">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Coordinación</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="crud-docente">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Docente</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="crud-secretaria">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Secretaria</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <a href="/admin" class="filtro__boton filtro__boton--enlace" id="">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Volver</span>
        </a>
    </div>
</div>
<div id="ajax-crud">
    <div class="crud-container">
        <div class="crud__forms">
            <h2 class="crud__title">Categoria</h2>
            <form class="form" method="post" action="/admin/agregar-categoria">
                <div class="form__grupo">
                    <label class="form__etiqueta" for="encabezado">Id:</label>
                    <input class="form__input" type="text" name="txtId" placeholder=" ">
                    <span></span>
                </div>
                <div class="form__grupo">
                    <label class="form__etiqueta" for="encabezado">Nombre:</label>
                    <input class="form__input" type="text" name="txtNombre" placeholder=" ">
                    <span></span>
                </div>
                <div class="form__grupo">
                    <label class="form__etiqueta" for="encabezado">Descripción:</label>
                    <input class="form__input" type="text" name="txtDescripcion" placeholder=" ">
                    <span></span>
                </div>
                <div class="form__grupo">
                    <label class="form__etiqueta" for="encabezado">Coordinación:</label>
                    <input class="form__input" type="text" name="txtCoordinacion" placeholder=" ">
                    <span></span>
                </div>
                <div class="form__grupo">
                    <label class="form__etiqueta" for="encabezado">Prioridad:</label>
                    <input class="form__input" type="text" name="txtPrioridad" placeholder=" ">
                    <span></span>
                </div>
                <div class="form__buttons">
                    <button class="form__button form__button--add">Agregar</button>
                    <button class="form__button form__button--update" formaction="/admin/actualizar-categoria">Actualizar</button>
        
                </div>
            </form>
            <button class="form__button form__button--listar" id="btnListarCategoria">Listar</button>
            <form class="form" method="post" action="/admin/eliminar-categoria">
                <div class="form__grupo">
                    <label class="form__etiqueta" for="encabezado">Id:</label>
                    <input class="form__input" type="text" name="txtId" placeholder=" ">
                    <span></span>
                </div>
                <button class="form__button form__button--delete">Eliminar</button>
            </form>
        </div>
        <div class="crud__tables" id="table">
            <table class="table-data">
                <thead class="table__head">
                    <tr class="table__row">
                        <th class="table__header">No.</th>
                        <th class="table__header">Id</th>
                        <th class="table__header">Nombre</th>
                        <th class="table__header">Descripción</th>
                        <th class="table__header">Coordinación</th>
                        <th class="table__header">Prioridad</th>
                    </tr>
                </thead>
                <tbody class="table__body" id="body-table">
            
                </tbody>
            </table>
        </div>
    </div>
</div>
