{{>adminCrudMenu}}
<div class="crud-container">
    <div class="crud__forms">
        <h2 class="crud__title">Prioridad</h2>
        <form class="form" method="post" action="/admin/agregar-prioridad" id="form-prioridadCrud">
            <div class="form__grupo">
                <label class="form__etiqueta" for="encabezado">Id:</label>
                <input class="form__input" type="text" name="txtId" placeholder=" " id="txtId">
                <span></span>
            </div>
            <div class="form__grupo">
                <label class="form__etiqueta" for="encabezado">Nombre:</label>
                <input class="form__input" type="text" name="txtNombre" placeholder=" " id="txtNombre">
                <span></span>
            </div>
            <div class="form__grupo">
                <label class="form__etiqueta" for="encabezado">Nivel:</label>
                <input class="form__input" type="number" name="txtNivel" placeholder=" " id="txtNivel">
                <span></span>
            </div>
            <div class="form__buttons">
                <button type="submit"class="form__button form__button--add">Agregar</button>
                <button type="submit" class="form__button form__button--update" formaction="/admin/actualizar-prioridad">Actualizar</button>
            </div>
        </form>
        <button class="form__button form__button--listar" id="btnListarPrioridad">Listar</button>
        <div id="error-container" class="error-container"></div>
        <form class="form" method="post" action="/admin/eliminar-prioridad" id="form-eliminar">
            <div class="form__grupo">
                <label class="form__etiqueta" for="encabezado">Id:</label>
                <input class="form__input" type="text" name="txtId" placeholder=" " id="txtIdEliminar">
                <span></span>
            </div>
            <button type="submit"class="form__button form__button--delete">Eliminar</button>
        </form>
    </div>
    <div class="crud__tables">
        <table class="table-data">
                <thead class="table__head">
                    <tr class="table__row">
                        <th class="table__header">No.</th>
                        <th class="table__header">Id</th>
                        <th class="table__header">Nombre</th>
                        <th class="table__header">Nivel</th>
                    </tr>
                </thead>
                <tbody class="table__body" id="body-table">
                    
                </tbody>
        </table>
    </div>
</div>