
<form action="/estudiante/crear-solicitud" method="post" enctype="multipart/form-data" class="nueva-solicitud" id="form-nuevaSolicitud">
    <div>
        <h1>Nueva Solicitud</h1>
    </div>
    <div class="nueva-solicitud__select-group">
        <select name="categoria" id="ns-categoria" class="nueva-solicitud__select">
            <option selected disabled value="">Seleccione la categoria</option>
            {{#each categorias}}
            <option>{{Nombre}}</option>
            {{/each}}
        </select>
        <select name="tipo" id="ns-tipo" class="nueva-solicitud__select">
            <option selected disabled value="">Seleccione el tipo</option>
            {{#each tipos}}
            <option>{{Nombre}}</option>
            {{/each}}
        </select>
    </div>
    <div class="nueva-solicitud__inputs">
        <div class="nueva-solicitud__grupo">
            <label class="nueva-solicitud__etiquetas" for="encabezado">Encabezado:</label>
            <input class="nueva-solicitud__entrada" type="text" name="encabezado" id="ns-encabezado" placeholder=" ">
            
            <span></span>
        </div>
        <div class="nueva-solicitud__grupo">
            <label class="nueva-solicitud__etiquetas"  for="descripcion">Descripcion:</label>
            <textarea class="nueva-solicitud__entrada entrada--area" name="descripcion"></textarea>
            
            <span></span>
        </div>
        <div>
            <input class="nueva-solicitud__entrada"  type="file" name="archivos">
        </div>
        <button type="submit"class="nueva-solicitud__enviar">Enviar Solicitud</button>
        <div id="error-container" class="error-container"></div>
    </div>
    
</form>