<div class="google-container">
    <a class="iniciar-sesion" href="/auth/google">
        <img class="google-imagen" alt="img-google" src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png">
        <span class="iniciar-sesion__boton">Iniciar Sesión</span>
    </a>
</div>

