<div class="filtro-container">
    <div class="filtro__grupo">
        <a class="filtro__boton" href="/admin/crud-categoria">
            <span>
                <i></i>
            </span>
            Categoria
        </a>
    </div>
    <div class="filtro__grupo">
        <a class="filtro__boton" href="/admin/crud-tipo">
            <span>
                <i></i>
            </span>
            Tipo
        </a>
    </div>
    <div class="filtro__grupo">
        <a class="filtro__boton" href="/admin/crud-prioridad">
            <span>
                <i></i>
            </span>
            Prioridad
        </a>
    </div>
    <div class="filtro__grupo">
        <a class="filtro__boton" href="/admin/crud-preguntafrecuente">
            <span>
                <i></i>
            </span>
            Preguntas Frecuentes
        </a>
    </div>
    <div class="filtro__grupo">
        <a class="filtro__boton" href="/admin/crud-coordinacion">
            <span>
                <i></i>
            </span>
            Coordinación
        </a>
    </div>
    <div class="filtro__grupo">
        <a class="filtro__boton" href="/admin/crud-docente">
            <span>
                <i></i>
            </span>
            Docente
        </a>
    </div>
    <div class="filtro__grupo">
        <a class="filtro__boton" href="/admin/crud-secretaria">
            <span>
                <i></i>
            </span>
            Secretaria
        </a>
    </div>
    <div class="filtro__grupo">
        <a href="/admin" class="filtro__boton filtro__boton--volver">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Volver</span>
        </a>
    </div>
</div>