<div class="filtro-container">
    <ul class="filtro">
        <li class="filtro__grupo">
            <button class="filtro__boton" id="btnEnviado">
                <span>
                    <i></i>
                </span>
                <span class="filtro__nombre">Enviado</span>
            </button>
        </li>
        <li class="filtro__grupo">
            <button class="filtro__boton" id="btnProceso">
                <span>
                    <i></i>
                </span>
                <span class="filtro__nombre">En proceso</span>
            </button>
        </li>
        <li class="filtro__grupo">
            <button class="filtro__boton" id="btnAtendido">
                <span>
                    <i></i>
                </span>
                <span class="filtro__nombre">Atendido</span>
            </button>
        </li>
        <li class="filtro__grupo">
            <button class="filtro__boton" id="btnConsulta">
                <span>
                    <i></i>
                </span>
                <span class="filtro__nombre">Consulta</span>
            </button>
        </li>
        <li class="filtro__grupo">
            <button class="filtro__boton" id="btnQueja">
                <span>
                    <i></i>
                </span>
                <span class="filtro__nombre">Queja</span>
            </button>
        </li>
        <li class="filtro__grupo">
            <button class="filtro__boton" id="btnSolicitud">
                <span>
                    <i></i>
                </span>
                <span class="filtro__nombre">Solicitud</span>
            </button>
        </li>
    </ul>
</div>