<footer class="footer">
    <div class="footer__grupo">
        <p class="footer__texto">Universidad Andina del Cusco</p>
        <p class="footer__texto">Facultad de Ingeniería y Arquitectura</p>
        <p class="footer__texto">Escuela profesional de Ingeniería de Sistemas</p>
    </div>
    <div class="footer__derechos">
        <hr>
        <p class="footer__copyright">2021</p>
    </div>
</footer>