<header class="header">
    <nav class="navbar">
        <a class="navbar__logo" href="/inicio">
            <img class="navbar__img" src="https://cdn.discordapp.com/attachments/712805882760790070/887128161362530304/buhociego3.png">
        </a>
        <ul class="navbar__menu">
            <li class="navbar__item"><a class="navbar__link" href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>

            {{#if user}}

            <li class="navbar__item"><a class="navbar__link" href="/estudiante">{{user.name}}</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/logout">Cerrar sesión</a></li>

            {{/if}}


        </ul>
    </nav>


</header>